:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #5783db;
    --color-lightGrey: #d2d6dd;
    --color-grey: #3e9a80;
    --color-darkGrey: #80669d;
    --color-error: #d43939;
    --color-success: #33b249;
    --grid-maxWidth: 150rem;
    --grid-gutter: 1rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

body {
    padding: 2rem;
}

[x-cloak] { 
    display: none !important; 
}

.cursor-pointer {
    cursor: pointer;
}

.button-dismiss {
    border: none;
    color: inherit;
    background: inherit;
    margin-top: -1rem;
    font-weight: bold;
}

.mb-1 {
    margin-bottom: 1rem;
}

.button-action {
    padding: .7rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: .5rem;
    min-width: 34px;
    justify-content: center;
}

.button + .button { 
    margin-left: inherit; 
}

.flip-horizontal { 
    transform: scaleX(-1); 
}

.flip-horizontal:active { 
    transform: scaleX(-.98); 
}

.rotate45 { 
    transform: rotate(-45deg); 
}

.arrow { 
    font-size: 2.5rem; line-height: .3; 
}

.spinner { 
    display: inline-block; width: 80px; height: 80px; 
}

.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--color-primary);
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.alpine-table th {
    min-width: 100px;
}
.alpine-table th:not(.alpine-no-sort) {
    cursor: pointer;
}

.alpine-sort-asc::after {
    content: ' \1f81d';
}

.alpine-sort-desc::after {
    content: ' \1f81f';
}